body.overflow-hidden {
    overflow: hidden;
}

/* Loader styles */
.sp-loader {
    display: block;
    position: relative;
    width: 100%;
}

.sp-loader__content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sp-loader-text-container {
    font-family: Helvetica, Arial, sans-serif;
}

.sp-loader__element {
    display: inline-block;
    height: 25px;
    width: 10px;
    margin: 3px;
    background: #343434;
    transform-origin: bottom;
    animation: loaderElementAnimation 1000ms infinite ease;
}

.sp-loader__element:nth-child(2) {
    animation-delay: 100ms;
}

.sp-loader__element:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes loaderElementAnimation {
    50% {
        transform: scaleY(0);
        opacity: 0;
    }
}

.sp-easygallery__item {
    opacity: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
    outline: none;
}

.sp-easygallery__information {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: rgba(255,255,255,.9);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    transition: all 300ms ease;
    opacity: 0;
}

.sp-easygallery__title {
    font-weight: bold;
}

.sp-easygallery__item:hover .sp-easygallery__information,
.sp-easygallery__item:focus .sp-easygallery__information {
    opacity: 1;
}

.sp-easygallery__item.visible {
    opacity: 1;
}

.sp-easygallery__image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.sp-easy-gallery-viewbox {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 64px 52px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    box-sizing: border-box;
}

.sp-easy-gallery-viewbox * {
    box-sizing: border-box;
}

.sp-easy-gallery-viewbox__inner {
    margin: auto;
    text-align: center;
    max-height: 60vh;
}

.sp-easy-gallery-viewbox__image-container {
    height: 100%;
    margin: auto;
}

.sp-easy-gallery-viewbox__image-container img {
    max-height: 100%;
    display: block;
    margin: auto;
}

.sp-easy-gallery-viewbox__item__title {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    padding: 8px;
}

.sp-easygallery__post-links-container {
    margin: 0 auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.sp-easygallery__post-link--button {
    color: #eee;
    display: inline-block;
    transition: all 300ms ease;
    text-decoration: underline;
}

.sp-easygallery__post-link--button:hover {
    color: #fff;
}

.sp-easy-gallery-viewbox-controls-buttons {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    background: transparent url(../img/arrow-left.png) no-repeat center / 100%;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    z-index: 3;
}

.sp-easy-gallery-viewbox-controls-buttons.next {
    left: auto;
    right: 0.5rem;
    background: transparent url(../img/arrow-right.png) no-repeat center / 100%;
}

.sp-easy-gallery-viewbox__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    background: transparent url(../img/close-x.png) no-repeat center / 100%;
    cursor: pointer;
}

.logged-in .sp-easy-gallery-viewbox__close {
    top: 40px;
}

.sp-easygallery-viewbox__navigation__menu {
    list-style: none;
    margin: 0 auto;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    max-width: calc(100vw - 112px);
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    transform: translateX(-50%);
    overflow-x: auto;
    overflow-y: hidden;
}

.sp-easygallery-viewbox__navigation__menu__item {
    display: block;
    padding: 0;
}

.sp-easygallery-viewbox__navigation__menu__item > button {
    border: none;
    box-shadow: none;
    width: 10px;
    height: 10px;
    margin: 4px;
    padding: 0;
    display: block;
    background: #565656;
    cursor: pointer;
}

.sp-easygallery-viewbox__navigation__menu__item > button.active {
    background: #ccc;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail {
    background: transparent;
    position: relative;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail > button {
    width: 60px;
    height: 40px;
    position: relative;
    overflow: hidden;
    background: transparent;
    outline: none;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail::after {
    content: '';
    display: block;
    height: 2px;
    max-width: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    margin: auto;
    background: transparent;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail.active::after {
    background: #eee;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail > button img {
    max-width: 80px;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.sp-easygallery-viewbox__navigation__menu__item.with-thumbnail.active > button img {
    opacity: 1;
}

@media (max-width: 768px) {
    .sp-easy-gallery-viewbox-controls-buttons {
        top: auto;
        bottom: 1rem;
        left: 0.5rem;
        transform: translateY(0);
    }

    .sp-easy-gallery-viewbox-controls-buttons.next {
        left: auto;
        right: 0.5rem;
    }

    .logged-in .sp-easy-gallery-viewbox__close {
        top: 50px;
    }
}

